compile_commands.json
CMakeFiles/
.cache/
.vscode/

/render_worker/build/
/render_worker/debug-build/
/scheduler/build/
/scheduler/debug-build/

/.worktrees/
/docs/
/CLAUDE.md

# Credential related
.env
.aws/
*.key
